Request API BC

In [2]:

import requests
import pandas as pd
#Define the basis of the request
url="https://api.bcb.gov.br/dados/serie/bcdata.sgs.1/dados?formato=json"
# execute the request
response=requests.get(url=url)
response

In [3]:
#Transform answer into table
table=pd.DataFrame(response.json())
table

             data      valor
0      28/11/1984  2828.0000
1      29/11/1984  2828.0000
2      30/11/1984  2881.0000
3      03/12/1984  2881.0000
4      04/12/1984  2881.0000
...           ...        ...
10020  25/11/2024     5.8002
10021  26/11/2024     5.7990
10022  27/11/2024     5.8291
10023  28/11/2024     5.9871
10024  29/11/2024     6.0535

[10025 rows x 2 columns]