Import data

In [ ]:
#Remember sep and decimal
import pandas as pd 
dados=pd.read_csv('/home/eco/Downloads/pad13/dados/dados_pv.csv',sep=';',decimal=',')
dados

           data     pib
0    1996-01-01   99.55
1    1996-04-01  100.44
2    1996-07-01  104.38
3    1996-10-01  103.30
4    1997-01-01  104.32
..          ...     ...
100  2021-01-01  171.54
101  2021-04-01  171.17
102  2021-07-01  171.28
103  2021-10-01  172.41
104  2022-01-01  174.13

[105 rows x 2 columns]