In [17]:
from sqlalchemy import create_engine, inspect
import pandas as pd
data_bank = create_engine('sqlite:////home/eco/Analise_Macro/coleta_dados/file/file_json.sqlite')
inspecte=inspect(data_bank)
table=inspecte.get_table_names()
table

['api_bc']

In [18]:
dados=pd.read_sql('api_bc',con=data_bank)
dados

             data      valor
0      28/11/1984  2828.0000
1      29/11/1984  2828.0000
2      30/11/1984  2881.0000
3      03/12/1984  2881.0000
4      04/12/1984  2881.0000
...           ...        ...
10021  26/11/2024     5.7990
10022  27/11/2024     5.8291
10023  28/11/2024     5.9871
10024  29/11/2024     6.0535
10025  02/12/2024     6.0634

[10026 rows x 2 columns]

In [19]:
data_bank.dispose()

In [20]:
data_bank

Engine(sqlite:////home/eco/Analise_Macro/coleta_dados/file/file_json.sqlite)