In [1]:
import pandas as pd

In [14]:
dados=pd.DataFrame(
    {'colunaA':['Ambev3','Ambev4','Ambev4','Ambev3'],
     'colunaB':['Ambev3','Ambev4','Ambev4','Ambev3'],
     'colunaC':['Ambev3','Ambev4','Ambev4','Ambev3'],
     'colunaD':[1,2,3,4],
     'colunaE':[1.1,2.2,3.3,4.4],
     'colunaF':['1','2','3','4']}
)

In [28]:
dados

  colunaA colunaB colunaC  colunaD  colunaE colunaF  nova_coluna
0  Ambev3  Ambev3  Ambev3        1      1.1       1         True
1  Ambev4  Ambev4  Ambev4        2      2.2       2         True
2  Ambev4  Ambev4  Ambev4        3      3.3       3         True
3  Ambev3  Ambev3  Ambev3        4      4.4       4         True

In [38]:
resultado = (dados['colunaB'] == dados['colunaC']) & (dados['colunaB'] == dados['colunaA'])
print(resultado)

0    True
1    True
2    True
3    True
dtype: bool

In [16]:
dados['nova_coluna'] = dados['colunaA'].str.startswith('A')

print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   colunaA      4 non-null      object
 1   colunaB      4 non-null      object
 2   colunaC      4 non-null      object
 3   colunaD      4 non-null      int64
 4   colunaE      4 non-null      float64
 5   colunaF      4 non-null      object
 6   nova_coluna  4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 328.0+ bytes
None

In [17]:
dates=pd.date_range('2024-01-01',periods=5)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05'],
              dtype='datetime64[ns]', freq='D')

In [42]:
dados[['colunaA','colunaB']]

  colunaA colunaB
0  Ambev3  Ambev3
1  Ambev4  Ambev4
2  Ambev4  Ambev4
3  Ambev3  Ambev3