In [2]:
# Importar bibliotecas
import pandas as pd
# Dados de expectativas do IPCA (Focus/BCB)
dados_focus = pd.read_csv(
  filepath_or_buffer = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?%24filter=%28Indicador%20eq%20%27IPCA%27%20or%20Indicador%20eq%20%27IGP-M%27%29%20and%20Data%20ge%20%272023-01-01%27%20and%20Data%20le%20%272023-02-12%27&%24format=text/csv&%24orderby=Data%20desc",
  decimal = ","
  )
# Exibe dados (omitido)
dados_focus.tail()

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
595,IPCA,NaN,2023-01-02,2022,5.6676,5.6379,0.1180,5.5433,6.1636,40,1
596,IPCA,NaN,2023-01-02,2023,5.5072,5.4631,0.4784,4.5197,6.9300,40,1
597,IPCA,NaN,2023-01-02,2024,3.8155,3.8448,0.4013,3.0000,5.0000,36,1
598,IPCA,NaN,2023-01-02,2025,3.5731,3.5000,0.5140,3.0000,5.0000,32,1
599,IPCA,NaN,2023-01-02,2026,3.5401,3.5000,0.5367,3.0000,5.0000,31,1

In [18]:
import janitor
dados_focus.clean_names()
#Select columns use []
dados_focus[['Data','Indicador','Media']]
#Select Columns use filter (item)
dados_focus.filter(items=["Data","Indicador",'Media'],axis='columns')
#Select columns and rename  filter (item)
(dados_focus.filter(items=["Data","Indicador",'Media'],axis='columns').
 rename(columns={'Indicador':'IND','Media':'MEN'}))  
# Select columns and rename [[]]                                                  
dados_focus[['Data','Indicador']].rename(columns={'Data':'Date','Indicador':'IND'})

           Date    IND
0    2023-02-10  IGP-M
1    2023-02-10  IGP-M
2    2023-02-10  IGP-M
3    2023-02-10  IGP-M
4    2023-02-10  IGP-M
..          ...    ...
595  2023-01-02   IPCA
596  2023-01-02   IPCA
597  2023-01-02   IPCA
598  2023-01-02   IPCA
599  2023-01-02   IPCA

[600 rows x 2 columns]